<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMessagesAtServiceLevel="true"/>
    </diagnostics>
    <extensions>
      <behaviorExtensions/>
    </extensions>
    <behaviors>
      <endpointBehaviors/>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!-- <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/> -->
    <bindings>
      <netHttpBinding>
        <binding name="WebSocketsBinding">
          <webSocketSettings transportUsage="Always"/>
        </binding>
      </netHttpBinding>
      <customBinding>
        <binding name="webSocket">
          <byteStreamMessageEncoding/>
          <httpTransport>
            <webSocketSettings transportUsage="Always" createNotificationOnConnection="true"/>
          </httpTransport>
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="Myers.WebSockDemo.Service.SocketChatService">
        <endpoint address="" binding="customBinding" bindingConfiguration="webSocket"
          contract="Myers.WebSockDemo.Service.ISocketChatService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>