<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!-- Tracing
    <system.diagnostics>
        <sources>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="NewListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source propagateActivity="false" name="System.ServiceModel.MessageLogging"
                switchValue="Verbose">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="NewListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="C:\Users\myers_000\Desktop\wcf-windows-8-web-sockets\Service\Host\web_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="NewListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
                <filter type="" />
            </add>
        </sharedListeners>
    </system.diagnostics>
    -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.serviceModel>
    <diagnostics>
      <messageLogging logMessagesAtServiceLevel="true" />
    </diagnostics>
    <extensions>
      <behaviorExtensions>
        <!-- Extension 
        <add name="binaryWebSocket" type="Extensibility.BinaryWebSocketServiceElement, Extensibility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        -->
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <!-- TODO: implement endpoint message inspector
        <behavior name="binaryWebSocket">
          <binaryWebSocket />
        </behavior>
        -->
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <netHttpBinding>
        <binding name="WebSocketsBinding">
          <webSocketSettings transportUsage="Always" />
        </binding>
      </netHttpBinding>
      <customBinding>
        <binding name="webSocket">
          <byteStreamMessageEncoding/>
          <httpTransport>
            <webSocketSettings transportUsage="Always"
                               createNotificationOnConnection="true"/>
          </httpTransport>
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="Myers.NovCodeCamp.Service.ChatService">
        <endpoint address="main" binding="netHttpBinding" bindingConfiguration="WebSocketsBinding"
                    contract="Myers.NovCodeCamp.Service.IChatService" />
        <!-- TODO: Implement binary extension message inspector
        <endpoint address="ws" behaviorConfiguration="binaryWebSocket"
            binding="customBinding" bindingConfiguration="webSocket" contract="Myers.NovCodeCamp.Service.IChatService" />
        -->
      </service>
      <service name="Myers.NovCodeCamp.Service.SocketChatService">
        <endpoint address="" binding="customBinding" bindingConfiguration="webSocket"
            contract="Myers.NovCodeCamp.Service.ISocketChatService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
