<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.serviceModel>
    <diagnostics>
      <messageLogging logMessagesAtServiceLevel="true" />
    </diagnostics>
    <extensions>
      <behaviorExtensions>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <netHttpBinding>
        <binding name="WebSocketsBinding">
          <webSocketSettings transportUsage="Always" />
        </binding>
      </netHttpBinding>
      <customBinding>
        <binding name="webSocket">
          <byteStreamMessageEncoding/>
          <httpTransport>
            <webSocketSettings transportUsage="Always"
                               createNotificationOnConnection="true"/>
          </httpTransport>
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="Myers.NovCodeCamp.Service.ChatService">
        <endpoint address="main" binding="netHttpBinding" bindingConfiguration="WebSocketsBinding"
                    contract="Myers.NovCodeCamp.Service.IChatService" />
      </service>
      <service name="Myers.NovCodeCamp.Service.SocketChatService">
        <endpoint address="" binding="customBinding" bindingConfiguration="webSocket"
            contract="Myers.NovCodeCamp.Service.ISocketChatService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
